#mwdc_portfolio_wrapper {
    margin:  0 auto;
    max-width: 100%;
} 

#mwdc_portfolio_wrapper .grid-item {
    width: 350px;
    max-width: 100%;
    margin-bottom: 10px;
} 

#mwdc_portfolio_wrapper .grid-item a{
    display: flex;
}

#mwdc_portfolio_wrapper .grid-item a img, 
#mwdc_portfolio_wrapper .grid-item a picture {
    min-width: 100%;
    min-height:  100%;
    max-width:  unset!important;
    width: 100%;
    height:  267px;
    object-fit: cover;
}

#mwdc_portfolio_wrapper .grid-item a img:hover {
    transition: all ease 0.3s;
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
    top: -5px;
}

/*portfolio title*/
#mwdc_portfolio_wrapper .portfolio_item .toggled_content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: rgba(0,0,0,.4);
    opacity: 0;
    transition: opacity .7s ease-in-out;
    cursor: pointer;
}

#mwdc_portfolio_wrapper .portfolio_item .toggled_content h2 {
    margin: 0!important;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

#mwdc_portfolio_wrapper .portfolio_item .portfolio_item_inner {
    position: relative;
}

#mwdc_portfolio_wrapper .portfolio_item:hover .toggled_content{
    opacity: 1;
    transition: opacity .7s ease-in-out;
}